* {
  text-align: center;
}

form {
  margin-top: 200px;
}

label {
  display: inline-block;
  margin: 10px;
}

input {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-field {
  width: 164px;
  margin-left: 50%;
  transform: translateX(-50%);
}
